In [1]:
from tabledataextractor import Table
from tabledataextractor.input import from_any
from tabledataextractor.output.print import print_table

In [4]:
data_path = 'C:\\Users\\juras\\OneDrive - University Of Cambridge\\Projects\\' \
           'AmorphousDatabase\\TableDataExtractor\\development_jm2111\\data\\'

In [5]:
table = Table(data_path + 'table_example.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example.csv, table_number=1)

                           Rutile      Rutile  Rutile  Anatase     Anatase  Anatase
                           a = b (Ã…)  c (Ã…)  u       a = b (Ã…)  c (Ã…)   u
Computational  This study  4.64        2.99    0.305   3.83        9.62     0.208
Computational  GGA [25]    4.67        2.97    0.305   3.80        9.67     0.207
Computational  GGA [26]    4.63        2.98    0.305   â€“         â€“      â€“
Computational  HF [27]     â€“         â€“     â€“     3.76        9.85     0.202
Experimental   Expt. [23]  4.594       2.958   0.305   3.785       9.514    0.207

                           Rutile      Rutile     Rutile     Anatase     Anatase    Anatase
                           a = b (Ã…)  c (Ã…)     u          a = b (Ã…)  c (Ã…)     u
Computational  This study  4.64        2.99       0.305      3.83        9.62       0.208
Computational  GGA [25]    4.67        2.97       0.305      3.80        9.67       0.207
Computational  GGA [26]    4.63        2.98       0.305      â€“         â€“        â€“
Computational  HF [27]     â€“         â€“        â€“        3.76        9.85       0.202
Experimental   Expt. [23]  4.594       2.958      0.305      3.785       9.514      0.207

TableTitle     StubHeader  ColHeader   ColHeader  ColHeader  ColHeader   ColHeader  ColHeader
/              StubHeader  ColHeader   ColHeader  ColHeader  ColHeader   ColHeader  ColHeader
Note           RowHeader   Data        Data       Data       Data        Data       Data
Note           RowHeader   Data        Data       Data       Data        Data       Data
Note           RowHeader   Data        Data       Data       Data        Data       Data
Note           RowHeader   Data        Data       Data       Data        Data       Data
Note           RowHeader   Data        Data       Data       Data        Data       Data

In [6]:
table = Table(data_path + 'table_example.html')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example.html, table_number=1)

               Rutile        Rutile    Rutile    Anatase       Anatase    Anatase
                a = b (Å)     c (Å)     u         a = b (Å)     c (Å)      u
 This study    4.64          2.99      0.305     3.83          9.62       0.208
 GGA [25]      4.67          2.97      0.305     3.80          9.67       0.207
 GGA [26]      4.63          2.98      0.305     –             –          –
 HF [27]       –             –         –         3.76          9.85       0.202
 Expt. [23]    4.594         2.958     0.305     3.785         9.514      0.207

               Rutile        Rutile     Rutile     Anatase       Anatase    Anatase
                a = b (Å)     c (Å)      u          a = b (Å)     c (Å)      u
 This study    4.64          2.99       0.305      3.83          9.62       0.208
 GGA [25]      4.67          2.97       0.305      3.80          9.67       0.207
 GGA [26]      4.63          2.98       0.305      –             –          –
 HF [27]       –             –          –          3.76          9.85       0.202
 Expt. [23]    4.594         2.958      0.305      3.785         9.514      0.207

StubHeader    ColHeader     ColHeader  ColHeader  ColHeader     ColHeader  ColHeader
StubHeader    ColHeader     ColHeader  ColHeader  ColHeader     ColHeader  ColHeader
RowHeader     Data          Data       Data       Data          Data       Data
RowHeader     Data          Data       Data       Data          Data       Data
RowHeader     Data          Data       Data       Data          Data       Data
RowHeader     Data          Data       Data       Data          Data       Data
RowHeader     Data          Data       Data       Data          Data       Data

In [8]:
table = Table(data_path + 'table_example1.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example1.csv, table_number=1)

""             ""          Rutile     Rutile  Rutile  Anatase    Anatase  Anatase
""             ""          a = b (A)  c (A)   u       a = b (A)  c (A)    u
Computational  This study  4.64       2.99    0.305   3.83       9.62     0.208
Computational  GGA [25]    4.67       2.97    0.305   3.80       9.67     0.207
Computational  GGA [26]    4.63       2.98    0.305   ""         ""       ""
Computational  HF [27]     ""         ""      ""      3.76       9.85     0.202
Experimental   Expt. [23]  4.594      2.958   0.305   3.785      9.514    0.207

""             ""          Rutile     Rutile     Rutile     Anatase    Anatase    Anatase
""             ""          a = b (A)  c (A)      u          a = b (A)  c (A)      u
Computational  This study  4.64       2.99       0.305      3.83       9.62       0.208
Computational  GGA [25]    4.67       2.97       0.305      3.80       9.67       0.207
Computational  GGA [26]    4.63       2.98       0.305      ""         ""         ""
Computational  HF [27]     ""         ""         ""         3.76       9.85       0.202
Experimental   Expt. [23]  4.594      2.958      0.305      3.785      9.514      0.207

TableTitle     StubHeader  ColHeader  ColHeader  ColHeader  ColHeader  ColHeader  ColHeader
/              StubHeader  ColHeader  ColHeader  ColHeader  ColHeader  ColHeader  ColHeader
Note           RowHeader   Data       Data       Data       Data       Data       Data
Note           RowHeader   Data       Data       Data       Data       Data       Data
Note           RowHeader   Data       Data       Data       Data       Data       Data
Note           RowHeader   Data       Data       Data       Data       Data       Data
Note           RowHeader   Data       Data       Data       Data       Data       Data

In [9]:
table = Table(data_path + 'table_example2.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example2.csv, table_number=1)

2006                     2006                        2006                  2007                     2007                        2007
Government transfers     Government transfers        Government transfers  Government transfers     Government transfers        Government transfers
Average $ constant 2007  Implicit transfer rates1 %  Shares %              Average $ constant 2007  Implicit transfer rates1 %  Shares %
4.640                    2.990                       0.305                 3.830                    9.620                       0.208
4.630                    2.980                       0.305

2006                     2006                        2006                  2007                     2007                        2007
Government transfers     Government transfers        Government transfers  Government transfers     Government transfers        Government transfers
Average $ constant 2007  Implicit transfer rates1 %  Shares %              Average $ constant 2007  Implicit transfer rates1 %  Shares %
4.640                    2.990                       0.305                 3.830                    9.620                       0.208
4.630                    2.980                       0.305

StubHeader               ColHeader                   ColHeader             ColHeader                ColHeader                   ColHeader
StubHeader               ColHeader                   ColHeader             ColHeader                ColHeader                   ColHeader
StubHeader               ColHeader                   ColHeader             ColHeader                ColHeader                   ColHeader
RowHeader                Data                        Data                  Data                     Data                        Data
Note                     Note                        Note                  /                        /                           /

In [10]:
table = Table(data_path + 'table_example4.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example4.csv, table_number=1)

Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages
Year                                         Short messages/thousands                     Change %                                     Short messages/subscription                  Multimedia messages/thousands                Change %
2003                                         1647218                                      24.3                                         347                                          2314
2004                                         2193498                                      33.2                                         439                                          7386                                         219.2

Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages  Table 9. Numbers of outgoing short messages
                                                                                          Short messages/thousands                                                                                                               Multimedia messages/thousands
Year                                         Short messages/thousands                     Change %                                     Short messages/subscription                  Multimedia messages/thousands                Change %
2003                                         1647218                                      24.3                                         347                                          2314
2004                                         2193498                                      33.2                                         439                                          7386                                         219.2

TableTitle                                   TableTitle                                   TableTitle                                   TableTitle                                   TableTitle                                   TableTitle
StubHeader                                   ColHeader                                    ColHeader                                    ColHeader                                    ColHeader                                    ColHeader
StubHeader                                   ColHeader                                    ColHeader                                    ColHeader                                    ColHeader                                    ColHeader
RowHeader                                    Data                                         Data                                         Data                                         Data                                         Data
RowHeader                                    Data                                         Data                                         Data                                         Data                                         Data

In [9]:
table = Table(data_path + 'table_example4_3.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example4_3.csv, table_number=1)

Title                          Title    Title
Year                           2003     2004
Short messages/thousands       1647218  2193498
Change %                       24.3     33.2
Short messages/subscription    347      439
Multimedia messages/thousands  2314     7386
Change %                                219.2

                               Title                          Title       Title
                               Year                           2003        2004
                               Short messages/thousands       1647218     2193498
Short messages/thousands       Change %                       24.3        33.2
                               Short messages/subscription    347         439
                               Multimedia messages/thousands  2314        7386
Multimedia messages/thousands  Change %                                   219.2

TableTitle                     TableTitle                     TableTitle  TableTitle
StubHeader                     StubHeader                     ColHeader   ColHeader
RowHeader                      RowHeader                      Data        Data
RowHeader                      RowHeader                      Data        Data
RowHeader                      RowHeader                      Data        Data
RowHeader                      RowHeader                      Data        Data
RowHeader                      RowHeader                      Data        Data

In [10]:
table = Table(data_path + 'table_example5.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example5.csv, table_number=1)

Title  Title                     Title       Title                         Title                          Title
                                 Category A                                                               Category B
Year   Short messages/thousands  Change %     Short messages/subscription  Multimedia messages/thousands  Change %
2003   1647218                   24.3        347                           2314
2004   2193498                   33.2        439                           7386                           219.2

Title       Title                     Title       Title                         Title                          Title
                                      Category A                                                               Category B
Year        Short messages/thousands  Change %     Short messages/subscription  Multimedia messages/thousands  Change %
2003        1647218                   24.3        347                           2314
2004        2193498                   33.2        439                           7386                           219.2

TableTitle  TableTitle                TableTitle  TableTitle                    TableTitle                     TableTitle
StubHeader  ColHeader                 ColHeader   ColHeader                     ColHeader                      ColHeader
StubHeader  ColHeader                 ColHeader   ColHeader                     ColHeader                      ColHeader
RowHeader   Data                      Data        Data                          Data                           Data
RowHeader   Data                      Data        Data                          Data                           Data

In [11]:
table = Table(data_path + 'table_example6.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example6.csv, table_number=1)

Material  Tc     Material     Tc
Bi6Tl3    6.5 K  TiN          1.4 K
Sb2Tl7    5.5    TiC          1.1
Na2Pb5    7.2    TaC          9.2
Hg5Tl7    3.8    NbC          10.1
Au2Bi     1.84   ZrB          2.82
CuS       1.6    TaSi         4.2
VN        1.3    PbS          4.1
WC        2.8    Pb-As alloy  8.4
W2C       2.05   Pb-Sn-Bi     8.5
MoC       7.7    Pb-As-Bi     9.0
Mo2C      2.4    Pb-Bi-Sb     8.9

Material    Tc          Material     Tc
Bi6Tl3      6.5 K       TiN          1.4 K
Sb2Tl7      5.5         TiC          1.1
Na2Pb5      7.2         TaC          9.2
Hg5Tl7      3.8         NbC          10.1
Au2Bi       1.84        ZrB          2.82
CuS         1.6         TaSi         4.2
VN          1.3         PbS          4.1
WC          2.8         Pb-As alloy  8.4
W2C         2.05        Pb-Sn-Bi     8.5
MoC         7.7         Pb-As-Bi     9.0
Mo2C        2.4         Pb-Bi-Sb     8.9

TableTitle  TableTitle  TableTitle   TableTitle
StubHeader  ColHeader   ColHeader    ColHeader
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data
RowHeader   Data        Data         Data

In [12]:
table = Table(data_path + 'table_example_10.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example_10.csv, table_number=1)

Simulation approach  TiOx building block fraction (%)  TiOx building block fraction (%)  TiOx building block fraction (%)  TiOx building block fraction (%)  TiOx building block fraction (%)  Mean coord. number
""                   TiO4                              TiO5                              TiO6                              TiO7                              TiO8                              ""
CPMD                 1.4                               18.3                              62                                18.3                                                                5.96
CPMD + VASP                                            25                                50                                25                                                                  6.00
DFTB                 9                                 43                                48                                                                                                    5.40
DFTB + VASP          2.7                               27.4                              47.9                              19.2                              2.7                               5.82

Simulation approach  TiOx building block fraction (%)  TiOx building block fraction (%)  TiOx building block fraction (%)  TiOx building block fraction (%)  TiOx building block fraction (%)  Mean coord. number
""                   TiO4                              TiO5                              TiO6                              TiO7                              TiO8                              ""
CPMD                 1.4                               18.3                              62                                18.3                                                                5.96
CPMD + VASP                                            25                                50                                25                                                                  6.00
DFTB                 9                                 43                                48                                                                                                    5.40
DFTB + VASP          2.7                               27.4                              47.9                              19.2                              2.7                               5.82

TableTitle           TableTitle                        TableTitle                        TableTitle                        TableTitle                        TableTitle                        TableTitle
StubHeader           ColHeader                         ColHeader                         ColHeader                         ColHeader                         ColHeader                         ColHeader
RowHeader            Data                              Data                              Data                              Data                              Data                              Data
RowHeader            Data                              Data                              Data                              Data                              Data                              Data
RowHeader            Data                              Data                              Data                              Data                              Data                              Data
RowHeader            Data                              Data                              Data                              Data                              Data                              Data

In [13]:
table = Table(data_path + 'table_example_11.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_example_11.csv, table_number=1)

""                                    ""      nTiO           nTiO           ""
""                                    RX (%)  rcut = 2.44 A  rcut = 2.75 A  rTiO (A)
Melt                                  ""      5.0(2)         ""             1.881(5)
This paper                            2.55    4.71           5.17           1.87
Modified Teter                        4.56    4.68           4.98           1.86
Pedone                                6.07    40             4.71           1.82
MA                                    5.82    4.35           4.89           1.92
EPSR                                  0.54    4.82           5.30           1.87
Rutile measured                       ""      5.7(2) a       5.7(2) a       1.962(5)
Rutile ideal                          ""      6.00           6.00           1.959
a From peak fit and not integration.

""                                    ""          nTiO           nTiO           ""
""                                    RX (%)      rcut = 2.44 A  rcut = 2.75 A  rTiO (A)
Melt                                  ""          5.0(2)         ""             1.881(5)
This paper                            2.55        4.71           5.17           1.87
Modified Teter                        4.56        4.68           4.98           1.86
Pedone                                6.07        40             4.71           1.82
MA                                    5.82        4.35           4.89           1.92
EPSR                                  0.54        4.82           5.30           1.87
Rutile measured                       ""          5.7(2) a       5.7(2) a       1.962(5)
Rutile ideal                          ""          6.00           6.00           1.959
a From peak fit and not integration.

TableTitle                            TableTitle  TableTitle     TableTitle     TableTitle
StubHeader                            ColHeader   ColHeader      ColHeader      ColHeader
RowHeader                             Data        Data           Data           Data
RowHeader                             Data        Data           Data           Data
RowHeader                             Data        Data           Data           Data
RowHeader                             Data        Data           Data           Data
RowHeader                             Data        Data           Data           Data
RowHeader                             Data        Data           Data           Data
RowHeader                             Data        Data & FNref   Data & FNref   Data
RowHeader                             Data        Data           Data           Data
FNprefix & FNtext                     /           /              /              /

In [14]:
table = Table(data_path + 'table_official_development_assistance.csv')
print(repr(table))

Table(C:\Users\juras\OneDrive - University Of Cambridge\Projects\AmorphousDatabase\TableDataExtractor\development_jm2111\data\table_official_development_assistance.csv, table_number=1)

1 Official development assistance                                                                                                                                                                                                                                               1 Official development assistance

Country                            Million dollar                                                Million dollar  Million dollar  Million dollar  Million dollar  Million dollar  Percentage of GNI  Percentage of GNI  Percentage of GNI  Percentage of GNI  Percentage of GNI  Country
                                   2007                                                          2009            2008            2009            2010*           2011*           2007               2008               2009               2010*              2011*
                                   2007                                                          2009            2008            2009            2010*           2011*           2007               2008               2009               2010*              2011*
Norwaya)                           3735                                                          4081            4006            4081            4580            4936            0.95               0.89               1.06               1.1                1                  Norwaya)
Denmark                            2562                                                          2810            2803            2810            2871            2981            0.81               0.82               0.88               0.91               0.86               Denmark
Australia                          2669                                                          2762            2954            2762            3826            4799            0.32               0.32               0.29               0.32               0.35               Australia
New Zealand                        320                                                           309             348             309             342             429             0.27               0.3                0.28               0.26               0.28               New Zealand
OECD/DAC 1                         104206                                                        119778          121954          119778          128465          133526          0.27               0.3                0.31               0.32               0.31               OECD/DAC 1

1                                  DAC-countries are members of OECD's Development Assistance C                                                                                                                                                                                 1
* Test                             DAC-countries are members of OECD's Development Assistance C                                                                                                                                                                                 * Test
* Source: OECD.                                                                                                                                                                                                                                                                 * Source: OECD.

1 Official development assistance
Country                            Million dollar                                                Million dollar  Million dollar  Million dollar             Million dollar             Percentage of GNI  Percentage of GNI  Percentage of GNI  Percentage of GNI          Percentage of GNI
                                   2007                                                          2009            2008            2010*                      2011*                      2007               2008               2009               2010*                      2011*
Norwaya)                           3735                                                          4081            4006            4580                       4936                       0.95               0.89               1.06               1.1                        1
Denmark                            2562                                                          2810            2803            2871                       2981                       0.81               0.82               0.88               0.91                       0.86
Australia                          2669                                                          2762            2954            3826                       4799                       0.32               0.32               0.29               0.32                       0.35
New Zealand                        320                                                           309             348             342                        429                        0.27               0.3                0.28               0.26                       0.28
OECD/DAC 1                         104206                                                        119778          121954          128465                     133526                     0.27               0.3                0.31               0.32                       0.31
1                                  DAC-countries are members of OECD's Development Assistance C
* Test                             DAC-countries are members of OECD's Development Assistance C
* Source: OECD.

TableTitle                         TableTitle                                                    TableTitle      TableTitle      TableTitle                 TableTitle                 TableTitle         TableTitle         TableTitle         TableTitle                 TableTitle
StubHeader                         ColHeader                                                     ColHeader       ColHeader       ColHeader                  ColHeader                  ColHeader          ColHeader          ColHeader          ColHeader                  ColHeader
StubHeader                         ColHeader                                                     ColHeader       ColHeader       ColHeader & FNref & FNref  ColHeader & FNref & FNref  ColHeader          ColHeader          ColHeader          ColHeader & FNref & FNref  ColHeader & FNref & FNref
RowHeader                          Data                                                          Data            Data            Data                       Data                       Data               Data               Data               Data                       Data
RowHeader                          Data                                                          Data            Data            Data                       Data                       Data               Data               Data               Data                       Data
RowHeader                          Data                                                          Data            Data            Data                       Data                       Data               Data               Data               Data                       Data
RowHeader                          Data                                                          Data            Data            Data                       Data                       Data               Data               Data               Data                       Data
RowHeader & FNref                  Data                                                          Data            Data            Data                       Data                       Data               Data               Data               Data                       Data
FNprefix                           FNtext                                                        /               /               /                          /                          /                  /                  /                  /                          /
FNprefix & FNtext & FNref          Note                                                          /               /               /                          /                          /                  /                  /                  /                          /
FNprefix & FNtext                  /                                                             /               /               /                          /                          /                  /                  /                  /                          /

In [17]:
url = 'https://iopscience.iop.org/article/10.1088/0022-3727/46/32/325302/meta'

In [18]:
table = Table(url)
print(repr(table))

Table(https://iopscience.iop.org/article/10.1088/0022-3727/46/32/325302/meta, table_number=1)

Model        ρ (g cm−3)
R_{1}^{{\rm Ti\mbox{--}Ti}} \pm \Delta (Å)
R_{1}^{{\rm Ti\mbox{--}O}} \pm \Delta (Å)
R_{1}^{{\rm O\mbox{--}O}} \pm \Delta (Å)  kTi–Ti  kTi–O  kO–Ti  kO–O   Egap (eV)
aTiO2-(I)    3.50        3.38 ± 0.21                                  1.87 ± 0.09                                 2.91 ± 0.22                                6.14    4.44   2.22   9.88   3.14
aTiO2-(II)   3.80        3.37 ± 0.24                                  1.91 ± 0.11                                 2.84 ± 0.24                                7.00    4.87   2.44   9.81   2.30
aTiO2-(III)  4.00        3.38 ± 0.22                                  1.93 ± 0.11                                 2.8 ± 30.23                                7.75    5.10   2.55   10.50  2.93
aTiO2-(IV)   4.20        3.38 ± 0.22                                  1.94 ± 0.1                                  2.80 ± 0.24                                8.69    5.36   2.68   10.76  2.68
aTiO2-(CP)   4.20        3.38 ± 0.22                                  1.99 ± 0.13                                 2.78 ± 0.23                                8.50    5.83   2.92   10.14  2.74
aTiO2-(MA)   4.20        3.41 ± 0.24                                  1.98 ± 0.09                                 2.80 ± 0.25                                8.97    5.81   2.90   10.80  2.70
aTiO2-(V)    4.50        3.32 ± 0.23                                  1.96 ± 0.1                                  2.72 ± 0.23                                8.53    5.79   2.90   10.42  2.12

Model        ρ (g cm−3)
R_{1}^{{\rm Ti\mbox{--}Ti}} \pm \Delta (Å)
R_{1}^{{\rm Ti\mbox{--}O}} \pm \Delta (Å)
R_{1}^{{\rm O\mbox{--}O}} \pm \Delta (Å)  kTi–Ti     kTi–O      kO–Ti      kO–O       Egap (eV)
aTiO2-(I)    3.50        3.38 ± 0.21                                  1.87 ± 0.09                                 2.91 ± 0.22                                6.14       4.44       2.22       9.88       3.14
aTiO2-(II)   3.80        3.37 ± 0.24                                  1.91 ± 0.11                                 2.84 ± 0.24                                7.00       4.87       2.44       9.81       2.30
aTiO2-(III)  4.00        3.38 ± 0.22                                  1.93 ± 0.11                                 2.8 ± 30.23                                7.75       5.10       2.55       10.50      2.93
aTiO2-(IV)   4.20        3.38 ± 0.22                                  1.94 ± 0.1                                  2.80 ± 0.24                                8.69       5.36       2.68       10.76      2.68
aTiO2-(CP)   4.20        3.38 ± 0.22                                  1.99 ± 0.13                                 2.78 ± 0.23                                8.50       5.83       2.92       10.14      2.74
aTiO2-(MA)   4.20        3.41 ± 0.24                                  1.98 ± 0.09                                 2.80 ± 0.25                                8.97       5.81       2.90       10.80      2.70
aTiO2-(V)    4.50        3.32 ± 0.23                                  1.96 ± 0.1                                  2.72 ± 0.23                                8.53       5.79       2.90       10.42      2.12

StubHeader   ColHeader   ColHeader                                    ColHeader                                   ColHeader                                  ColHeader  ColHeader  ColHeader  ColHeader  ColHeader
RowHeader    Data        Data                                         Data                                        Data                                       Data       Data       Data       Data       Data
RowHeader    Data        Data                                         Data                                        Data                                       Data       Data       Data       Data       Data
RowHeader    Data        Data                                         Data                                        Data                                       Data       Data       Data       Data       Data
RowHeader    Data        Data                                         Data                                        Data                                       Data       Data       Data       Data       Data
RowHeader    Data        Data                                         Data                                        Data                                       Data       Data       Data       Data       Data
RowHeader    Data        Data                                         Data                                        Data                                       Data       Data       Data       Data       Data
RowHeader    Data        Data                                         Data                                        Data                                       Data       Data       Data       Data       Data

In [ ]:
url = 'https://link.springer.com/article/10.1007%2Fs10853-012-6439-6'